* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin-left: 1rem;
}

.hidden{
    display: none;
}
.inline {
    display: inline;
}

.userInput{
    padding: 1rem;
    padding-left: 0;
}

.post{
    max-width: 60%;
}
.postAuthor{
    font-size: small;
}
.postTitle{
    font-size: larger;
    margin-bottom: 0.2rem;
}
.postcontent {
    margin-bottom: 1rem;
}
